{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
{% load tailwind_tags %}
{% load static %}


<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='m-6 flex flex-col md:flex-row items-center md:items-start'>
        <div class='md:w-1/3 mb-4 md:mb-0'> <!-- Adjust the width as needed -->
            <img src="{% static 'images/gouri.jpg' %}" alt="Your Photo" class="w-48 h-48 rounded-full mx-auto md:mx-0 md:mr-4" />
        </div>
        <div class='md:w-2/3'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>About Me</p>
            <p class='text-justify'>
                &#128075; Hi,
    
                My name is Gouri Deshpande<br>
                Assistant Professor with over a decade of industry experience in research, design, development, verification and validation of software applications and applied AI/ML. My research focuses on Software Engineering, Data Analytics and Machine Learning methodologies. I am seeking highly motivated students and industry collaborations to further my research.
                
                Here are my <span class='group text-cyan-200'><a href='/projects' class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out'>projects</a></span> in action.<br><br>
            </p>
        </div>
    </div>

    <div class='blog-section bg-gray-900 p-4 text-white'>
     <p class='text-2xl font-bold grid place-items-center mb-8 lg:text-4xl'>Our Team</p>

        
        <div class='grid grid-cols-1 md:grid-cols-2 gap-6'> <!-- Added grid classes and gap-6 -->
            <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='hover:scale-105 hover:transform bg-gray-800 p-5 rounded-lg max-w-sm h-auto shadow-2xl transition-all duration-300'>
                <a href='#'><img class='rounded-lg mb-4' src="{% static 'images/gouri.jpg' %}"></a>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='#'><span class='text-xl font-extrabold'>Gouri Deshpande</span></a><br>
                <p class='my-3'>Assistant Professor </p>

            </div>
            
            <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='hover:scale-105 hover:transform bg-gray-800 p-5 rounded-lg max-w-sm h-auto shadow-2xl transition-all duration-300'>
                <a href='#'><img class='rounded-lg mb-4' src="{% static 'images/jagrit_lab.jpg' %}"></a>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='#'><span class='text-xl font-extrabold'>Jagrit Acharya</span></a><br>
                <p class='my-3'>MSc (Thesis) student </p>
            </div>
            <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='hover:scale-105 hover:transform bg-gray-800 p-5 rounded-lg max-w-sm h-auto shadow-2xl transition-all duration-300'>
                <a href='#'><img class='rounded-lg mb-4' src="{% static 'images/rahul.jpg' %}"></a>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='#'><span class='text-xl font-extrabold'>Rahul</span></a><br>
                <p class='my-3'>Research Intern </p>

            </div>
            <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='hover:scale-105 hover:transform bg-gray-800 p-5 rounded-lg max-w-sm h-auto shadow-2xl transition-all duration-300'>
                <a href='#'><img class='rounded-lg mb-4' src="{% static 'images/ammar.jpg' %}"></a>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='#'><span class='text-xl font-extrabold'>Ammar</span></a><br>
                <p class='my-3'>Research Intern </p>

            </div>
            
          
            <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='hover:scale-105 hover:transform bg-gray-800 p-5 rounded-lg max-w-sm h-auto shadow-2xl transition-all duration-300'>
                <a href='#'><img class='rounded-lg mb-4' src="{% static 'images/rishabh.jpg' %}"></a>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='#'><span class='text-xl font-extrabold'>Rishabh</span></a><br>
                <p class='my-3'>Research Intern </p>

            </div>
            
            <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='hover:scale-105 hover:transform bg-gray-800 p-5 rounded-lg max-w-sm h-auto shadow-2xl transition-all duration-300'>
                <a href='#'><img class='rounded-lg mb-4' src="{% static 'images/noopur.jpg' %}"></a>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='#'><span class='text-xl font-extrabold'>Noopur</span></a><br>
                <p class='my-3'>Mitacs Research Intern 2023 </p>

            </div>
            <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='hover:scale-105 hover:transform bg-gray-800 p-5 rounded-lg max-w-sm h-auto shadow-2xl transition-all duration-300'>
                <a href='#'><img class='rounded-lg mb-4' src="{% static 'images/Zeeshan.jpg' %}"></a>
                <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='#'><span class='text-xl font-extrabold'>Zeeshan</span></a><br>
                <p class='my-3'>Research Intern </p>

            </div>
           
        </div>
    </div>
    
    
    <div class='m-6'>
       
        <div class='my-10'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Our Tech Stack</p>
            <div class='grid grid-cols-1 md:grid-cols-2 md:space-x-4 lg:space-x-10'>
                <div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">React</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="html bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Flask</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="js bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">SQL</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="sql bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                </div>

                <div>
                    {% comment %}    <div class='my-3'>
                        <p class="text-base font-medium my-3">CSS</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="css bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>{% endcomment %}
                    <div class='my-3'>
                        <p class="progress-bar text-base font-medium my-3">Python</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="py bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        
        .progress-bar {
            animation: progress-bar-animation 1s normal forwards;
        }
        @keyframes progress-bar-animation {
            0%   {  width: 0%; }
            100% {  width: 100%; }
        }
        .html {
            animation: html-animation 3s normal forwards;
        }
        @keyframes html-animation {
            0%   {  width: 0%; }
            100% {  width: 95%; }
        }
        .css {
            animation: css-animation 3s normal forwards
        }
        @keyframes css-animation {
            0%   {  width: 0%; }
            100% {  width: 85%; }
        }
        .js {
            animation: js-animation 3s normal forwards
        }
        @keyframes js-animation {
            0%   {  width: 0%; }
            100% {  width: 70%; }
        }
        .py {
            animation: py-animation 3s normal forwards
        }
        @keyframes py-animation {
            0%   {  width: 0%; }
            100% {  width: 90%; }
        }
        .sql {
            animation: sql-animation 3s normal forwards
        }
        @keyframes sql-animation {
            0%   {  width: 0%; }
            100% {  width: 80%; }
        }
    </style>

    {% comment %} <script>
        let html_progress = 0;
        let html_invervalSpeed = 10;
        let html_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let html_bar = document.querySelector('.html');
            html_progressInterval = setInterval(function(){
            html_progress += html_incrementSpeed;
            html_bar.style.width = html_progress + "%";
            if(html_progress >= 95){
                clearInterval(html_progressInterval);
            }
        }, html_invervalSpeed);
    });

        let css_progress = 0;
        let css_invervalSpeed = 10;
        let css_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let css_bar = document.querySelector('.css');
            css_progressInterval = setInterval(function(){
            css_progress += css_incrementSpeed;
            css_bar.style.width = css_progress + "%";
            if(css_progress >= 80){
                clearInterval(css_progressInterval);
            }
        }, css_invervalSpeed);
    });

        let js_progress = 0;
        let js_invervalSpeed = 10;
        let js_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let js_bar = document.querySelector('.js');
            js_progressInterval = setInterval(function(){
            js_progress += js_incrementSpeed;
            js_bar.style.width = js_progress + "%";
            if(js_progress >= 60){
                clearInterval(js_progressInterval);
            }
        }, js_invervalSpeed);
    });

    let py_progress = 0;
    let py_invervalSpeed = 10;
    let py_incrementSpeed = 1;
    document.addEventListener("DOMContentLoaded", function(){
        let py_bar = document.querySelector('.py');
        py_progressInterval = setInterval(function(){
        py_progress += py_incrementSpeed;
        py_bar.style.width = py_progress + "%";
        if(py_progress >= 80){
            clearInterval(py_progressInterval);
        }
    }, py_invervalSpeed);
});

    let sql_progress = 0;
    let sql_invervalSpeed = 10;
    let sql_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
        let sql_bar = document.querySelector('.sql');
        sql_progressInterval = setInterval(function(){
        sql_progress += sql_incrementSpeed;
        sql_bar.style.width = sql_progress + "%";
        if(sql_progress >= 85){
            clearInterval(sql_progressInterval);
        }
    }, sql_invervalSpeed);
});

    </script> {% endcomment %}
</div>

{% endblock %}